<div class="content" fxLayout="column" fxLayoutAlign="space-around none" >        
    <h1 fxLayout="row" fxLayoutAlign="center start" >CryptoFolio</h1>    
    <form class="example-form" fxLayout="row" fxLayout.xs="column"  fxLayout.sm="column">
        <div fxLayout="column wrap" fxLayoutAlign="space-between start" fxFlex="100%" class="wallets">
            <div *ngFor="let item of wallets; let i = index" fxLayout="row none">            
                <mat-form-field class="example-full-width" >                    
                    <a aria-label="Clear" href="https://www.cryptocompare.com/coins/{{item.symbol}}/overview/USD" target="_blank">{{item.symbol}}</a>
                    <mat-label>{{item.name}}</mat-label>
                    <input type="text" matInput [(ngModel)]="item.balance"  (keyup)="calculaTotal(wallets)"placeholder="ïtem.name" name='item{{i}}'>      
                    <!--button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button-->                              
                </mat-form-field>
            </div>                    
            <hr>
            <mat-form-field class="example-full-width" >
                <mat-label>Great Total (USD)</mat-label>
                <input type="text" matInput [(ngModel)]="total" placeholder="total" name='total' readonly>                                    
            </mat-form-field>           
        </div>    
        <div fxFlex  class="amount">         
            <div fxLayout="row none" fxLayout.xs="column" fxLayout.sm="column">
                <mat-form-field class="example-full-width" fxFlex  class="wallets">
                    <mat-label>Amount</mat-label>
                    <input type="number" matInput (keyup)="validator(origen)" (change)="validator(origen)" [(ngModel)]="amount" name='amount'>                                    
                </mat-form-field> 

                <div fxLayout="column wrap" >
                    <mat-form-field appearance="fill" fxFlex="40%" class="select">
                        <mat-label>Origen</mat-label>
                        <mat-select [(value)]="origen">
                          <mat-option *ngFor="let item of wallets" [value]="item.symbol">
                            {{item.symbol}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>   
                    <mat-form-field appearance="fill" fxFlex="40%" class="select">
                        <mat-label>Destino</mat-label>
                        <mat-select [(value)]="destino">
                          <mat-option *ngFor="let item of wallets"  [value]="item.symbol">
                            {{item.symbol}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>   
                </div>                                 
            </div>  
            <div fxLayout="column" fxLayoutAlign="end end">
                <button mat-stroked-button color="warn" (click)="transfer(origen,destino,amount)">Transfer</button>
            </div>
        </div> 
    </form>    
</div>