<div class="content" fxLayout="column" fxLayoutAlign="space-around none" >        
    <h1 fxLayout="row" fxLayoutAlign="center start" >Pokedex</h1>   
    <div fxFlex="100%">
        <mat-form-field class="example-full-width" fxFlex="100%">
            <mat-label>Search</mat-label>
            <input type="text"
                   placeholder="Search"
                   aria-label="Search"
                   matInput                                     
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="goTo($event.option.value)" >
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                      {{option}}
                    </mat-option>
                </mat-autocomplete>
          </mat-form-field>
        
    </div>
    <div fxLayout="row wrap">
        <div *ngFor="let item of showItems" fxFlex="25%" fxFlex.xs="50%"  fxLayoutGap="16px grid">         
            <mat-card class="card" fxFlex>                
                <mat-card-content fxLayout="row" fxLayoutAlign="space-evenly end" >
                    <a [routerLink]="['/pokedex/',item.name]">
                        <img mat-card-image class="img" src="../../assets/pokemon/pokemons/{{item.name}}.jpg" alt="{{item.name}}">
                    </a>
                </mat-card-content>   
                <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
                    <!--button mat-button>LIKE</button>
                    <button mat-button>SHARE</button-->
                        <p>{{item.name | uppercase}}</p>
                        <mat-chip-list aria-label="Fish selection" fxFlex.xs="100%" fxLayout.xs="row">
                            <mat-chip *ngFor="let type of item.types"> {{type.type.name |  uppercase}}</mat-chip>                            
                        </mat-chip-list>
                </mat-card-actions>             
            </mat-card>            
        </div>            
    </div>        
    <div fxLayout="row" fxLayoutAlign="space-evenly end" >
        <mat-paginator [length]="pokelist.length" fxLayout="row" fxLayoutAlign="space-evenly end" 
           [pageSize]="limite"               
           (page)="pageChange($event)">
        </mat-paginator>
    </div> 
</div>