.content{
    padding: 16x;
}

.card {
    margin-left: 1em;
    margin-right: 1em;
    margin-top:  2em;
    max-width: 500;
}

.example-header-image {    
    background-size: cover;
}

.img{
    position:relative;
    margin-left: 5px;    
    top: 20px;
    /*border-style: solid;
    border-color: coral;*/
    object-fit: cover;
    width: 100%; 
    height: 80%;
}
.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  .small-chip {
    height: 20px !important;
 }