<div fxLayout="column">
    <div  fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="start center">
        <div fxFlex="100%" class="marco" fxLayout="column"  fxLayoutAlign="start center"> 
            <h2>{{pokemon.name | uppercase}}</h2>
            <mat-card class="card" fxFlex>                
                <mat-card-content fxLayout="row" fxLayoutAlign="space-evenly end" >                
                    <img mat-card-image class="img" src="../../assets/pokemon/pokemons/{{pokemon.name}}.jpg" alt="{{pokemon.name}}">                
                </mat-card-content>   
                <mat-card-actions fxLayout="column" fxLayoutAlign="space-evenly center">                                    
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip *ngFor="let type of pokemon.types"> {{type.type.name |  uppercase}}</mat-chip>                            
                        </mat-chip-list>
                </mat-card-actions>             
            </mat-card>
        </div>
        <div style="margin: 2ch;" fxFlex="5%">
    
        </div>
        <div fxFlex class="marco" fxLayout="column"  fxLayoutAlign="start center">
            <h2>Stats</h2>
            <ngx-charts-polar-chart 
                (window:resize)="onResize($event)"
                [view]="view"
                [scheme]="colorScheme"  
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"  
                [results]="multi"                
                (select)="onSelect($event)">
            </ngx-charts-polar-chart>
        </div>
    </div>
    <div style="margin: 2ch;" fxFlex="5%">
    
    </div>
    <div fxFlex="100%" class="marco" fxLayout="column"  fxLayoutAlign="start center">
        <div  fxLayout="row" fxLayoutAlign="space-evenly end">
            <mat-tab-group animationDuration="150ms">
                <mat-tab label="Info">
                    <mat-list>                                                
                        <mat-list-item>Height: {{pokemon.height}}</mat-list-item>
                        <mat-divider></mat-divider> 
                        <mat-list-item>Weight: {{pokemon.weight}}</mat-list-item>
                        <mat-divider></mat-divider> 
                        <mat-list-item>Base Experience: {{pokemon.base_experience}}</mat-list-item>
                        <mat-divider></mat-divider>                                                             
                    </mat-list>
                </mat-tab>
                <mat-tab label="Abilities">
                    <mat-list>                        
                        <section *ngFor="let skill of pokemon.abilities">
                            <mat-list-item>{{skill.ability.name | uppercase}}</mat-list-item>
                            <mat-divider></mat-divider>                
                        </section>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Moves">
                    <!--cdk-virtual-scroll-viewport itemSize="skill.move.length" class="example-viewport">
                        <div *cdkVirtualFor="let skill of pokemon.moves; templateCacheSize: 0" class="example-item">{{skill.move.name}}</div>
                    </cdk-virtual-scroll-viewport-->
                    <mat-list>                        
                        <section *ngFor="let skill of showMoves">
                            <mat-list-item>{{skill.move.name | uppercase}}</mat-list-item>
                            <mat-divider></mat-divider>                
                        </section>
                        <mat-paginator [length]="pokemon.moves.length" fxLayout="row" fxLayoutAlign="space-evenly end" 
                            [pageSize]="limite"               
                            (page)="pageChange($event)">
                        </mat-paginator>
                    </mat-list>
                </mat-tab>
                <mat-tab label="Evolution">
                    <div fxLayout="row" fxLayoutAlign="space-evenly end" style="margin-top: 4em;" >
                        <div *ngFor="let id of nameEvol">
                            <a [routerLink]="['/pokedex/',id]" (click)="changeData(id)">
                                <img mat-card-image class="img" src="../../assets/pokemon/pokemons/{{id}}.jpg" alt="{{id}}" class="little">
                            </a>  
                        </div>                      
                    </div>
                </mat-tab>
            </mat-tab-group>            
        </div>
    </div>
</div>