    .content{
        padding: 16x;
    }
  
    .card {
        margin-left: 2em;
        margin-right: 2em;
        margin-top:  4em;
        max-width: 400px;
    }
    
    .example-header-image {    
        background-size: cover;
    }