<div class="content" fxLayout="column" fxLayoutAlign="space-around center" >    
    <h1 class=""> Selecciona Actividad</h1>
    <div fxLayout="row wrap">
        <div *ngFor="let item of actividades" fxFlex="50%" fxFlex.xs="100%"  fxLayoutGap="16px grid">         
            <mat-card class="card" fxFlex>
                <mat-card-header>                  
                    <mat-card-title>{{item.nombre}}</mat-card-title>              
                </mat-card-header>                  
                <mat-card-content>                  
                    <a routerLink="/{{item.path}}"><img mat-card-image src={{item.img}}></a>
                </mat-card-content>
            </mat-card>            
        </div>    
    </div>    
</div>

