<!-- Toolbar -->
<div class="toolbar" role="banner">  
  <a routerLink="/crypto">
    <img
    width="40"    
    src="../assets/crypto/btc.png"
    />
  </a>
  <a routerLink="/pokedex">
    <img
    width="40"    
    src="../assets/pokemon/logo.png"
    />  
  </a>
  <div class="spacer"></div>    
</div>

<div class="content" role="main">

  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <router-outlet></router-outlet>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


